/* Base Style */
html,body { 
	background-color: #E4E4E4; 
	height: 100% !important;
}

/* Fonts */

/* Main Page Style */
#wrapper { width: 960px; margin: 0 auto; background-color: #fff !important; /* height: 100%!important; */ }

/* Header */

/* Navigation */
#nav { position: relative; list-style: none; z-index: 50; }
	#nav li { position: relative; float: left; }
		#nav ul { position: absolute; visibility: hidden; list-style: none; z-index: 110; }
			#nav ul li { clear: both; }
		#nav a { display: block; }
	#nav table { position: absolute; left: 0; border-collapse: collapse; }
		#nav table table { top: 0 !important; }
		#nav ul ul { position: absolute; top: 0; }
	#nav li:hover ul, #nav a:hover ul, #nav :hover ul :hover ul, #nav :hover ul :hover ul :hover ul { visibility: visible; }
	#nav :hover ul ul, #nav :hover ul :hover ul ul { visibility: hidden; }
	.menu:after { content: "."; display: block; height: 0; clear: both; visibility: hidden; }